* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, .heading {
  font-family: 'Playfair Display', serif;
}

.page-layout {
  display: grid;
  grid-template-columns: [start] 320px [content] auto [end];
  grid-template-rows: [start] auto [status-bar] 120px [end];
  height: 100vh;
  width: 100vw;
}

.groups-section {
  grid-row: start / status-bar;
  grid-column: start / content;
}

.todos-section {
  grid-row: start / status-bar;
  grid-column: content / end;

  padding: 2rem;
}

.status-bar {
  grid-row: status-bar / end;
  grid-column: start / end;

  background-color: #cfcfcf;
  padding: 1rem;
}

.status-bar__clock {
  font-size: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.row__align-center {
  align-items: center;
}

.groups-list {
  display: flex;
  flex-direction: column;
  height: 90%;

  margin: 0;
  padding: 1rem;
  list-style-type: none;
}

.groups-add {
  height: 10%;
}

.groups-list__end {
  margin-top: auto;
}

.group__active {
  font-weight: bold;
}
