@import "components.css";
@import "groups.css";
@import "statusBar.css";
@import "todos.css";

:root {
  --gray-1: #F1F1F1;
  --gray-2: #EDE2E7;
  --gray-3: #CBD5E0;
  --gray-4: #718096;
  --gray-5: #4A5568;
  --black: #2D3748;
  --white: #FFFFFF;
  --green-3: #244823;

  --text-color: var(--gray-5);
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
}

.page-layout {
  display: grid;
  grid-template-columns: [start] 320px [content] auto [end];
  grid-template-rows: [start] auto [status-bar] 120px [end];
  height: 100vh;
  width: 100vw;
}

.groups-section {
  grid-row: start / status-bar;
  grid-column: start / content;
}

.todos-section {
  grid-row: start / status-bar;
  grid-column: content / end;

  padding: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.row__align-center {
  align-items: center;
}
